body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  max-width: 400px;
}

h1 {
  color: #333;
}

.input-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.result-container {
  margin-bottom: 20px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background-color: #45a049;
}

.clock {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
